.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 15px 50px;
  border: 5px solid #bbdfc8;
  margin: 0 0.5rem;
  background-color: #f0e5d8;

  width: 80%;
  padding: 5rem;
  margin: 2rem auto;
  box-shadow: -9px 8px 19px 16px rgba(59, 59, 59, 0.285);
}

.header-text {
  font-size: 26px;
  font-weight: 400;
  padding: 2rem;
}

.body-text {
  font-size: 22px;
  font-weight: 500;
  padding: 2rem;
  text-align: center;
}

.caption {
  font-size: 28px;
  font-weight: 300;
  padding: 2rem;
  font-style: italic;
}
