.hero-wrapper {
  width: 90%;
  max-height: 80vh;
  margin: 0 auto;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  font-size: 6rem;
}

.peacock-wrapper {
  padding: 2rem;
  max-width: 300px;
  max-height: auto;
}
.circle-1 {
  position: absolute;
  z-index: -10;
  top: -200px;
  right: -450px;
  border-radius: 50%;
  height: 1600px;
  width: 1600px;
  background-color: #f0e5d8;
  box-shadow: -9px 8px 19px 16px rgba(59, 59, 59, 0.285);
}
