.about-container,
.benefits-container {
  min-height: 100vh;
  margin: auto;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-heading {
  font-size: 4rem;
}
.section-description {
  font-size: 1.5rem;
  text-align: center;
}
.benefit-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-card {
  border-radius: 15px 50px;
  border: 5px solid #bbdfc8;
  padding: 1rem;
  margin: 0 0.5rem;
  background-color: #f0e5d8;
  width: 33.33%;
}

.about-img {
  width: 100px;
  height: auto;
  margin: 0.5rem auto;
}
.circle-2 {
  position: absolute;
  /* border-radius: 50%; */
  z-index: -8;
  left: -100px;
  top: 70px;
  transform: rotate(-2.5deg);
  height: 50vw;
  width: 110vw;
  background-color: #ffc478;
  box-shadow: -9px 8px 19px 16px rgba(59, 59, 59, 0.285);
}
