@import url("https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap");

.App {
  color: #ffdeb3;
  font-family: "Modern Antiqua", cursive;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.peacock-img {
  height: 500px;
}

.App-header {
  font-size: 3rem;
  width: 50%;
  color: #ffdeb3;
}

.input-box {
  position: relative;
}

.input-box input {
  border-style: none;

  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffdeb3;
  border-bottom: 3px solid #ffdeb3;
  padding: 15px;
  font-family: "Modern Antiqua", cursive;

  letter-spacing: 3.2px;
  width: 100%;
  position: relative;
}

.input-box label {
  color: #ffdeb3;
  position: absolute;
  padding: 15px 0;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  color: #e4b16e;
  font-size: 0.9rem;
  top: -26px;
  transition: 0.5s;
}

button {
  margin: 1rem;
  background: #ffdeb3;
  color: #6a491d;
  border-spacing: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #e4b16e;
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: #6a491d;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
