@import url("https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap");

.App {
  color: #2c2c2c;
  font-family: "Modern Antiqua", cursive;
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 90vh;
}

.App-header {
  font-size: 3rem;
  width: 50%;
  color: #75cfb8;
}

.input-box {
  position: relative;
  width: 100%;
}

.input-box input {
  border-style: none;
  width: 100%;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid #75cfb8;
  padding: 15px;
  font-family: "Modern Antiqua", cursive;

  letter-spacing: 3.2px;
  width: 100%;
  position: relative;
}

.input-box label {
  color: #ffdeb3;
  position: absolute;
  padding: 15px 0;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  color: #e4b16e;
  font-size: 0.9rem;
  top: -26px;
  transition: 0.5s;
}

button {
  background: #2a767f;

  color: #fff;
  border-spacing: none;
  padding: 10px 20px;
  font-size: 1.3rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ffdeb3;
  transition: 0.5s;
  color: #2a767f;
}

a {
  text-decoration: none;
  color: #6a491d;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pulse {
  animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(42, 42, 42, 0.2);
  }
  100% {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
  }
}
